beautifulsoup4==4.3.2
certifi==2017.11.5
chardet==3.0.4
Django==1.8.18
django-crispy-forms==1.4.0
django-durationfield==0.5.1
django-toolkit==0.3.3
idna==2.6
lxml==3.4.4
python-dateutil==2.4.2
requests==2.18.4
six==1.11.0
tldextract==1.6
unicodecsv==0.13.0
urllib3==1.22
